@layer components {
  .landing-hero {
    @apply relative flex flex-col pt-20;
    @apply md:justify-center md:pt-6 md:px-8 md:pb-32;
    @apply xl:px-16;
    min-height: calc(100vh - 64px);

    @media (min-width: theme(screens.md)) {
      min-height: calc(100vh - 144px);
    }

    @media (min-width: theme(screens.lg)) {
      min-height: calc(100vh - 160px);
    }
  }
}
