---
---

<div>
  <form
    action="https://formspree.io/f/xjvlvekw"
    method="post"
    autocomplete="off"
  >
    <div class="flex flex-col">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        placeholder="Argyle"
        required
        minlength="2"
        maxlength="64"
        class="px-4 py-3 mt-2 text-gray-200 bg-gray-900 border-gray-900 rounded placeholder:text-gray-500 placeholder:text-opacity-70"
      />
    </div>
    <div class="flex flex-col mt-8">
      <label for="email">Email Address</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="argyle@surferboypizza.com"
        required
        class="px-4 py-3 mt-2 text-gray-200 bg-gray-900 border-gray-900 rounded placeholder:text-gray-500 placeholder:text-opacity-70"
      />
    </div>
    <div class="flex flex-col mt-8">
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        placeholder="Surfer Boy Pizza, this is Argyle speaking. Oh, fruit on your pizza is gnarly, you say? Well, I say try before you deny."
        required
        minlength="2"
        maxlength="255"
        class="h-40 px-4 py-3 mt-2 text-gray-200 bg-gray-900 border-gray-900 rounded resize-none placeholder:text-gray-500 placeholder:text-opacity-70"
      ></textarea>
    </div>
    <button type="submit" class="mt-10 button">Send</button>
  </form>
</div>
