---
import cn from "classnames";

interface Props {
  containerClassName?: string;
}

const { containerClassName } = Astro.props as Props;

const containerClasses = cn("container mx-auto max-w-7xl", {
  [containerClassName]: !!containerClassName,
});
---

<div class={containerClasses}>
  <slot />
</div>
