---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <div class="flex flex-col items-center text-gray-200">
    <h1 class="text-9xl font-bold">404</h1>
    <h2 class="text-3xl font-bold mt-12">Nothing to see here</h2>
    <p class="mt-6">The page you are trying to open does not exist.</p>
    <p class="mt-2">
      You may have mistyped the address or the page has been moved to another
      URL.
    </p>
    <a href="/" class="button mt-12">Go back to Homepage</a>
  </div>
</BasicLayout>
