---
import LandingAbout from "../components/astro/LandingAbout.astro";
import LandingContact from "../components/astro/LandingContact.astro";
import LandingExperience from "../components/astro/LandingExperience.astro";
import LandingHero from "../components/astro/LandingHero.astro";
import NavLayout from "../layouts/NavLayout.astro";

if (import.meta.env.PROD) {
	return Astro.redirect("/work-in-progress");
}
---

<NavLayout>
	<div class="constrained">
		<LandingHero />
	</div>
	<LandingAbout />
	<div class="constrained">
		<LandingExperience />
	</div>
	<LandingContact />
</NavLayout>
