---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <div class="constrained flex flex-col flex-grow items-center justify-center">
    <h1 class="text-7xl font-bold text-gray-500 text-center">
      Work in progress...
    </h1>
  </div>
</BasicLayout>
