---
import cn from "classnames";

interface Props {
  title: string;
  variant?: "primary" | "secondary" | "default";
}

const { title, variant = "default" } = Astro.props as Props;
---

<div
  class={cn("card", {
    "card-primary": variant === "primary",
    "card-secondary": variant === "secondary",
  })}
>
  <div>
    <div class="flex justify-center">
      <slot name="icon" />
    </div>
    <p class="mt-12 card-title">
      <Fragment set:html={title} />
    </p>
    <p class="mt-8 card-copy">
      <slot />
    </p>
  </div>
</div>
