---
import Container from "../components/Container.astro";
import IconChevronRight from "./icons/IconChevronRight.astro";
import SocialIconLinks from "./SocialIconLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer class="py-20">
  <Container>
    <div class="flex flex-col items-center">
      <p class="flex items-center text-4xl font-bold font-primary">
        <IconChevronRight customClass="w-10 h-10" />
        Zack
        <span class="mx-1 text-primary">/</span>
        Jackson
      </p>
      <SocialIconLinks customClass="mt-20" />
      <p class="mt-6 text-gray-400 font-primary">
        &copy; {currentYear} Zack Jackson
      </p>
    </div>
  </Container>
</footer>
