---
import Timeline from "./Timeline.astro";
---

<section id="work" class="pb-40 pt-96 scroll-m-40">
  <h2 class="text-center text-gray-400 font-cursive -rotate-3 text-8xl">
    Experience
  </h2>
  <Timeline customClass="mt-40" />
</section>
