---
import Card from "./Card.astro";
import IconCode from "./icons/IconCode.astro";
import IconGamepad from "./icons/IconGamepad.astro";
import IconMusic from "./icons/IconMusic.astro";
import SectionKicker from "./SectionKicker.astro";
---

<section id="about" class="relative scroll-m-8 md:scroll-m-40">
  <div class="flex flex-col justify-center py-24 bg-gray-800 md:pt-48 md:pb-96">
    <div class="constrained">
      <div class="flex flex-col px-16 gap-12 md:flex-row md:items-center md:gap-24 xl:gap-48">
        <div class="flex-1">
          <SectionKicker>About Me</SectionKicker>
          <h2 class="mt-4 text-xl font-bold leading-normal lg:text-2xl">
            I enjoy solving problems and bringing design to life.
          </h2>
          <p class="mt-4 text-gray-400">
            Nam at fringilla risus. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="https://via.placeholder.com/800x600.png"
            alt="A placeholder image"
          />
        </div>
      </div>
    </div>
    <div
      class="mt-48 lg:absolute lg:bottom-0 lg:left-0 lg:right-0 lg:flex lg:flex-col lg:items-center lg:mt-0 lg:transform lg:translate-y-1/2"
    >
      <div class="constrained flex flex-col items-center gap-16 lg:flex-row">
        <Card title="Gamer">
          <IconGamepad customClass="stroke-secondary" slot="icon" />
          I’m a longtime fan of Halo multiplayer. I also enjoy PlayStation story-driven
          games and the Pokemon franchise.
        </Card>
        <Card title="Front-end<br /> Developer" variant="secondary">
          <IconCode customClass="stroke-gray-200" slot="icon" />
          I have a passion for transforming design into accessible and delightful
          user experiences with code.
        </Card>
        <Card title="Musician">
          <IconMusic customClass="stroke-secondary" slot="icon" />
          I’ve been playing guitar since I was about 12 years old. I can talk about
          guitar effects pedals and tone endlessly.
        </Card>
      </div>
    </div>
  </div>
</section>
