---
import Card from "./Card.astro";
import Container from "./Container.astro";
import IconCode from "./icons/IconCode.astro";
import IconGamepad from "./icons/IconGamepad.astro";
import IconMusic from "./icons/IconMusic.astro";
import SectionKicker from "./SectionKicker.astro";
---

<section id="about" class="relative">
  <div class="flex flex-col justify-center min-h-screen bg-gray-800">
    <Container>
      <div class="flex items-center gap-48 px-16">
        <div class="flex-1">
          <SectionKicker>About Me</SectionKicker>
          <h2 class="text-2xl font-bold leading-normal mt-4">
            I enjoy solving problems and bringing design to life.
          </h2>
          <p class="text-gray-400 mt-4">
            Nam at fringilla risus. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="https://via.placeholder.com/600x400.png"
            alt="A placeholder image"
          />
        </div>
      </div>
    </Container>
    <div
      class="absolute right-0 bottom-0 left-0 flex flex-col items-center transform translate-y-1/2"
    >
      <Container containerClassName="flex gap-16">
        <Card title="Gamer">
          <IconGamepad customClass="stroke-secondary" slot="icon" />
          I’m a longtime fan of Halo multiplayer. I also enjoy PlayStation story-driven
          games and the Pokemon franchise.
        </Card>
        <Card title="Front-end<br /> Developer" variant="secondary">
          <IconCode customClass="stroke-gray-200" slot="icon" />
          I have a passion for transforming design into accessible and delightful
          user experiences with code.
        </Card>
        <Card title="Musician">
          <IconMusic customClass="stroke-secondary" slot="icon" />
          I’ve been playing guitar since I was about 12 years old. I can talk about
          guitar effects pedals and tone endlessly.
        </Card>
      </Container>
    </div>
  </div>
</section>
