---
import IconArrowDown from "./icons/IconArrowDown.astro";
import SectionKicker from "./SectionKicker.astro";
import SocialIconLinks from "./SocialIconLinks.astro";
---

<section id="introduction" class="landing-hero">
  <div class="flex items-center gap-48">
    <header class="flex-1">
      <h1 class="font-bold leading-tight tracking-wide text-7xl">
        Zack<br /> Jackson.
      </h1>
      <span aria-hidden="true" class="block w-10 h-2 mt-2 bg-primary"></span>
    </header>
    <div class="flex-1">
      <SectionKicker>Introduction</SectionKicker>
      <h2 class="mt-4 text-2xl font-bold leading-normal">
        Software Developer<br /> based in Charlotte, NC
      </h2>
      <p class="mt-4 text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        nulla arcu, lacinia eu tempor sit amet, accumsan non felis.
      </p>
    </div>
  </div>
  <div class="mt-6">
    <SocialIconLinks />
  </div>
  <div class="absolute left-0 right-0 flex justify-center bottom-12">
    <a href="#about" class="flex flex-col items-center link">
      <span class="leading-none">Scroll for more</span>
      <span aria-hidden="true" class="mt-2">
        <IconArrowDown />
      </span>
    </a>
  </div>
</section>
