---
import IconArrowDown from "./icons/IconArrowDown.astro";
import SectionKicker from "./SectionKicker.astro";
import SocialIconLinks from "./SocialIconLinks.astro";
---

<section id="introduction" class="landing-hero">
  <div class="flex flex-col gap-12 md:flex-row md:gap-24 xl:gap-48">
    <header class="flex-1">
      <h1 class="text-5xl font-bold leading-tight tracking-wide lg:text-7xl">
        Zack
        <br /> Jackson.
      </h1>
      <span
        aria-hidden="true"
        class="block w-10 h-2 mt-2 bg-primary"
      ></span>
      <div class="hidden md:mt-6 md:block">
        <SocialIconLinks iconClass="md:h-10 md:w-10 lg:h-12 lg:w-12" />
      </div>
    </header>
    <div class="flex-1">
      <SectionKicker>Introduction</SectionKicker>
      <h2 class="mt-4 text-xl font-bold leading-normal lg:text-2xl">
        Software Developer
        <br /> based in Charlotte, NC
      </h2>
      <p class="mt-4 text-gray-400">
        Hi! I'm Zack. I specialize in front-end development with experience building React and Vue web applications.
        </p>
    </div>
  </div>
  <div class="mt-6 md:hidden">
    <SocialIconLinks iconClass="w-9 h-9" />
  </div>
  <div class="absolute left-0 right-0 bottom-6 flex justify-center md:bottom-10">
    <a href="#about" class="flex flex-col items-center link">
      <span class="leading-none">Scroll for more</span>
      <span aria-hidden="true" class="mt-2">
        <IconArrowDown />
      </span>
    </a>
  </div>
</section>
