---
import Timeline from "./Timeline.astro";
---

<section id="work" class="pb-48 pt-96">
  <h2
    id="experience"
    class="text-center text-gray-400 font-cursive -rotate-3 text-8xl scroll-m-40"
  >
    Experience
  </h2>
  <Timeline customClass="mt-40" />
</section>
