---
import IconArrowDown from "./icons/IconArrowDown.astro";
import SectionKicker from "./SectionKicker.astro";
import SocialIconLinks from "./SocialIconLinks.astro";
---

<section id="introduction" class="landing-hero">
  <div class="flex items-center gap-48">
    <header class="flex-1">
      <h1 class="text-7xl font-bold leading-tight tracking-wide">
        Zack<br /> Jackson.
      </h1>
      <span aria-hidden="true" class="block h-2 w-10 bg-primary mt-2"></span>
    </header>
    <div class="flex-1">
      <SectionKicker>Introduction</SectionKicker>
      <h2 class="text-2xl font-bold leading-normal mt-4">
        Software Developer<br /> based in Charlotte, NC
      </h2>
      <p class="text-gray-400 mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        nulla arcu, lacinia eu tempor sit amet, accumsan non felis.
      </p>
    </div>
  </div>
  <div class="mt-6">
    <SocialIconLinks />
  </div>
  <div class="absolute right-0 bottom-12 left-0 flex justify-center">
    <a href="#about" class="link flex flex-col items-center">
      <span class="leading-none">Scroll for more</span>
      <span aria-hidden="true" class="mt-2">
        <IconArrowDown />
      </span>
    </a>
  </div>
</section>
