---
import cn from "classnames";

import IconGithub from "./icons/IconGithub.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";

interface Props {
  containerClass?: string;
  iconClass?: string;
}

const { containerClass, iconClass } = Astro.props as Props;
---

<div class={cn("flex items-center gap-6", { [containerClass as string]: !!containerClass })}>
  <a
    aria-label="Github"
    href="https://github.com/zack-jack/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <IconGithub
      customClass={cn(
        "fill-secondary hover:fill-secondary-light",
        { [iconClass as string]: !!iconClass }
      )}
    />
  </a>
  <a
    aria-label="LinkedIn"
    href="https://www.linkedin.com/in/zack-jackson/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <IconLinkedIn
      customClass={cn(
        "fill-secondary hover:fill-secondary-light",
        { [iconClass as string]: !!iconClass }
      )}
    />
  </a>
</div>
