---
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";
---

<div class="flex items-center gap-6">
  <a
    aria-label="Github"
    href="https://github.com/zack-jack/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <IconGithub customClass="fill-secondary hover:fill-secondary-light" />
  </a>
  <a
    aria-label="LinkedIn"
    href="https://www.linkedin.com/in/zack-jackson/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <IconLinkedIn customClass="fill-secondary hover:fill-secondary-light" />
  </a>
</div>
