---
interface Props {
  date: string;
  label: string;
}

const { date, label } = Astro.props as Props;
---

<div class="flex items-start justify-between font-primary">
  <p
    class="flex-1 mr-10 text-lg leading-none tracking-widest text-right uppercase"
  >
    {date}
  </p>
  <span
    aria-hidden="true"
    class="block w-5 h-5 border-2 border-gray-300 border-solid rounded-full bg-primary"
  ></span>
  <div class="flex-1 ml-10">
    <p class="text-xl font-bold leading-none">{label}</p>
    <div class="mt-4">
      <slot />
    </div>
  </div>
</div>
