---
import clsx from 'clsx';

import HeaderDesktop from '../components/HeaderDesktop.astro';
import HeaderMobile from '../components/HeaderMobile.astro';

import '../styles/global.css'

const siteTitle = "Zack Jackson | Software Developer";
const appContainerClasses = clsx(
  'relative',
  'flex flex-col flex-grow',
  'container mx-auto max-w-7xl'
)
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <title>{siteTitle}</title>
  <meta name="theme-color" content="#000000" />
</head>

<body>
  <div id="app" class={appContainerClasses}>
    <a href="#main" class="skip-link">
      Skip to content
    </a>
    <HeaderDesktop />
    <HeaderMobile />
    <main id="main">
      <slot />
    </main>
  </div>
</body>

</html>
