@layer base {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;
    --primary: 59 175 202;
    --secondary: 103 107 220;
    --gray-100: 245 245 245;
    --gray-200: 229 231 235;
    --gray-300: 209 213 219;
    --gray-400: 156 163 175;
    --gray-500: 128 133 143;
    --gray-700: 41 48 62;
    --gray-800: 34 42 53;
    --gray-900: 27 35 46;
  }

  body {
    @apply flex flex-col h-full min-h-screen antialiased bg-gray-900 text-gray-200;
  }

  main {
    @apply flex flex-col flex-grow;
  }
}
